<!DOCTYPE html>
<html lang="en-GB">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Template</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <div class="header">
      <div class="container">
        <h1>Welcome to Posts App</h1>
        <p>This is a simple posts app just for learning.</p>
      </div>
    </div>

    <div class="content">
      <div class="controls">
        <button class="btn">Load Posts</button>
        <button class="btn">Create Post</button>
      </div>

      <div class="container">
        <div class="card">
          <h2>Post text</h2>
          <p class="author">25/12/2021 - Author</p>
        </div>
        <div class="card">
          <h2>Post text</h2>
          <p class="author">25/12/2021 - Author</p>
        </div>
      </div>
    </div>
  </body>
</html>
