.nav-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .navbar-nav {
    gap: 30px;
    margin-bottom: 20px;
  }

  .nav-item {
    height: 40px;
  }

  .nav-link span {
    display: inline!important;
    text-align: start;
    padding: 10px;
  }

  .nav-link span i {
    display: inline;
  }
}

/* .options {
    width: 100%;
    visibility: hidden;
    height: 0;
    overflow: hidden;
    flex-direction: column;
  }

  .toggled {
    height: auto;
    transition: all 0.2s linear;
  }

  
  .options li {
    visibility: visible;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
    border-top: 1px solid rgba(0,0,0,0.25);
  }

  .options li a {
    text-decoration: none; 
  }
}

/*
.header {
  color: black;
  font-weight: 600;
  text-align: center;
  background-color: #e3f2fd;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  height: 80px;
  padding: 0 40px;
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  margin: 0;
}

.nav {
  padding-left: 25px;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 50px;
  list-style-type: none;
}

.nav li {
  list-style: none;
}

.nav-left,
.nav-right {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 20px;
}

.mobile-menu {
  display: none;
}

@media screen and (max-width: 768px) {
  .header {
    padding: 0 20px;
  }

  .nav {
    display: flex;
    width: 100%;
    height: auto;
    position: absolute;
    top: 64px;
    left: -100%;
    opacity: 0;
    transition: all 0.5s ease;
    flex-direction: column;
    list-style-type: none;
    grid-gap: 0;
    box-shadow: 0 8px 4px -4px rgba(0, 0, 0, 0.25);
  }

  .nav.active {
    background-color: #e3f2fd;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
    align-content: center;
    padding-left: 0;
  }

  .nav li {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vw;
    padding: 30px 0;
    border-top: 1px solid rgba(0,0,0,0.25);
  }

  .mobile-menu {
    display: block;
  }
}
*/
